@font-face {
    font-family: 'Porsche Font';
    src: url(fonts/Porsche\ Regular_0.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/montserrat-webfont/Montserrat-Light.woff), format('woff');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(fonts/montserrat-webfont/Montserrat-Bold.woff), format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

a {
    color: #000000;
    transition: color 0.3s;
}

a:hover {
    color: #ffffff;
}

.container {
    display: grid;
    grid-template-areas:
        "block1 block1 block1 block1"
        "block2 block3 block3 block4"
        "block5 block3 block3 block4"
        "block5 block6 block6 block4"
        "block7 block7 block7 block7";
    grid-template-rows: 1fr 0.5fr 2.5fr 0.5fr 1fr;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    height: 100vh;
    gap: 10px;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: bold;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    overflow-wrap: break-word; 
}

.block img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.block1 { 
    grid-area: block1; 
    background-color: #b12b28; 
}
.block2 { 
    grid-area: block2; 
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
}
.block3 { grid-area: block3; 
    background-color: white; 
    background-position: center;
    background-repeat: no-repeat;
}

.block4 {
    grid-area: block4; 
    background-color: #ebd698;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.block4 h2 {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat Bold', sans-serif;
}

ol, ul {
    padding-left: 20px; 
    margin: 0 auto;
    max-width: 80%; 
    text-align: left;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

li {
    margin-bottom: 10px;
    font-size: 1.5vw;
}


.block5 { grid-area: block5; 
    background-color: #ebd698; 
}
.block6 { grid-area: block6; 
    background-color: #000000; 
    color: #ffffff;
    font-family: 'Porsche Font', sans-serif;
    font-size: 2vw;
}
.block7 { grid-area: block7; 
    background-color: #b12b28; 
}

.blockX, .blockY {
    background-color: #ebd698;
    font-size: 2vw;
    padding: 1vh 2vw; 
    border: 1px solid black;
    position: absolute; 
    font-family: 'Porsche Font', sans-serif;
}

.blockX {
    top: 50%;
    right: 2vw;
    transform: translateY(-50%);
}

.blockY {
    bottom: 50%;
    right: 2vw;
    transform: translateY(50%);
}