@font-face {
    font-family: 'Porsche Font';
    src: url(fonts/Porsche\ Regular_0.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/montserrat-webfont/Montserrat-Light.woff), format('woff');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(fonts/montserrat-webfont/Montserrat-Bold.woff), format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-size: clamp(16px, 1.5vw, 24px);
}

a {
    color: #000000;
    transition: color 0.3s;
}

a:hover {
    color: #ffffff;
}

.container {
    display: grid;
    grid-template-areas:
        "block1 block1 block1 block1"
        "block2 block3 block3 block4"
        "block5 block3 block3 block4"
        "block5 block6 block6 block4"
        "block7 block7 block7 block7";
    grid-template-rows: 1fr 0.5fr 2.5fr 0.5fr 1fr;
    grid-template-columns: 1.2fr 2.2fr 1.2fr 1.2fr;
    height: 100vh;
    gap: 10px;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid black;
    position: relative;
    overflow: auto;
    overflow-wrap: break-word; 
}

.block img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.block1 { 
    grid-area: block1; 
    background-color: #b12b28;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}
.block2 { 
    grid-area: block2; 
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
}
.block3 { grid-area: block3; 
    background-color: white; 
    background-position: center;
    background-repeat: no-repeat;
}

.block4 {
    grid-area: block4; 
    background-color: #ebd698;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    overflow: auto;
    max-height: 100%;
}

.block4 h2 {
    font-size: clamp(18px, 2vw, 36px);
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat Bold', sans-serif;
}

ol, ul {
    padding-left: 20px; 
    margin: 0 auto;
    max-width: 80%; 
    text-align: left;
    max-height: 100%;
    overflow: auto;
}

ol {
    list-style-type: decimal;
    padding-left: 30px;
}

ul {
    list-style-type: disc;
    padding-left: 30px;
}

li {
    margin-bottom: 10px;
    font-size: clamp(14px, 1.5vw, 28px);
}


.block5 { 
    grid-area: block5; 
    background-color: #ebd698;
    overflow: auto;
    max-height: 100%;
}
.block6 { 
    grid-area: block6; 
    background-color: #000000; 
    color: #ffffff;
    font-family: 'Porsche Font', sans-serif;
    font-size: clamp(13px, 2vw, 32px);
    max-height: 100%;
    overflow-x: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
}

.block7 { 
    grid-area: block7; 
    background-color: #b12b28;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.blockX, .blockY {
    background-color: #ebd698;
    font-size: 2vw;
    padding: 1vh 2vw; 
    border: 1px solid black;
    position: absolute;
    font-family: 'Porsche Font', sans-serif;
    max-width: 80%;
    text-align: center;
    overflow: auto;
    box-sizing: border-box;
}

.blockX {
    top: 50%;
    right: 2vw;
    transform: translateY(-50%);
    font-size: clamp(20px, 2.5vw, 40px);
}

.blockY {
    bottom: 50%;
    right: 2vw;
    transform: translateY(50%);
    font-size: clamp(20px, 2.5vw, 40px);
}
